@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  /* background-color: #fafafa; */
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  /* background-color: aqua; */
  border-radius: 12px;
  /* max-width: 402px; */
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.image-upload-cont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.choose-file-btn {
  width: 101px;
  height: 31.98px;
  background: #2f80ed;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.choose-file-btn:hover {
  cursor: pointer;
}

.choose-file-btn-text {
  font-family: Noto Sans;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
  text-align: center;
}

.image-drop-cont {
  width: 100%;
  height: 218.9px;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-drop-cont.drag-active {
  opacity: 0.7;
}

.upload-text {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: left;
  margin: 15px 0;
}

.upload-text-1 {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.035em;
  text-align: center;
  margin: 15px 0;
}

.upload-text-2 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  text-align: left;
  margin: 15px 0;
}

.upload-text-3 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  text-align: center;
  margin: 20px 0;
}

.img-upload-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-upload-action div:nth-child(2) {
  display: none;
}

.uploading-cont {
  justify-self: start;
  width: 100%;
}

.uploading-text {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: left;
  padding: 20px 0;
}

.uploading-loader {
  width: 100%;
  height: 6px;
  background: #f2f2f2;
  border-radius: 8px;
  overflow-x: hidden;
}

.uploading-loader-obj {
  width: 25%;
  height: 6px;
  background: #2f80ed;
  border-radius: 8px;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

.success-icon {
  margin: 10px auto;
  width: fit-content;
}

.successful-upload-text {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 10px 0;
}

.image-display {
  width: 85%;
  margin: auto;
  margin-top: 10px;
}

.image-link-cont {
  max-width: 85%;
  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 25px 0;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 1px;
  overflow-x: hidden;
}

.image-link {
  text-overflow: ellipsis;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  padding-left: 4px;
}

.copy-link-btn {
  min-width: 74px;
  height: 34px;
  background: #2f80ed;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-link-btn:hover {
  cursor: pointer;
}

.d-flex-c {
  justify-content: center;
  display: flex;
}

.copy-link-text {
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
